<div class="profile-header">
    <app-router-header
        text="Perfil do usuário"
    ></app-router-header>
</div>

<div class="profile-main">

    <div class="profile-main__container">
        <div class="profile-main__header">
            <div class="profile-main__group-row">
                <img src="assets/perfil.png" alt="Imagem de perfil">
    
                <div class="profile-main__group">
                    <button class="button">
                        Upload da foto
                    </button>
                    <p>Formatos JPG ou PNG recomendados</p>
                </div>
            </div>
        </div>

        <div class="profile-main__informations">
            informacoes
        </div>
    </div>
</div>