<div class="profile-header">
    <app-router-header
        text="Perfil do usuário"
    ></app-router-header>
</div>

<div class="profile-main">

    <div class="profile-main__container">
        <div class="profile-main__header">
            <div class="profile-main__group-row">
                <img src="assets/perfil.png" alt="Imagem de perfil">
    
                <div class="profile-main__group">
                    <button class="button">
                        Upload da foto
                    </button>
                    <p>Formatos JPG ou PNG recomendados</p>
                </div>
            </div>
        </div>

        <div class="profile-main__informations">
            <!-- adicionar componente para header cars -->
             <div class="box">
                 <app-header-card
                    title="Informações pessoais"
                 ></app-header-card>
                
                 <div class="profile-main__info-content">
                    @for (info of informations; track $index) {
                        <div class="profile-main__group-label">
                            <label>{{info.label}}</label>
                            {{info.txt}}
                        </div>
                    }
                 </div>
             </div>
        </div>
    </div>
</div>