<div class="sidebar-logo">
    <!-- logo -->

    <img src="assets/logo.png" alt="Logo GDP Flow">
</div>

<div class="sidebar-content">
    <label class="sidebar-content__label">menu</label>

    <ul class="sidebar-content__menu">
        
        @for (item of sidebarMenu; track $index) {
            <li class="sidebar-content__item" [ngClass]="{'sidebar-content__item--selected': item.rota === this.router.url}" [routerLink]="item.rota">
                <ng-icon [name]="item.icon"></ng-icon>
                <span class="sidebar-content__txt">{{ item.txt }}</span>
            </li>
        }
    </ul>
</div>