<div class="timeline-header">
    <app-router-header
        text="Linha do tempo"
    ></app-router-header>
</div>

<div class="timeline-main">
    <div class="timeline-main__content box">
        <app-timeline-content
            [timeLineMomentData]="momentData"
        ></app-timeline-content>
    </div>
    
    <form class="timeline-main__form box" [formGroup]="form">

        <input 
            class="input"
            type="date"
            formControlName="data"
        >

        <input 
            class="input"
            type="text"
            placeholder="Título do momento"
            formControlName="title"
        >

        <textarea 
            class="input"
            style="resize: none;"
            placeholder="Descrição"
            rows="5"
            formControlName="description"
            [ariaExpanded]="false"
        ></textarea>

        <button class="button button--filled" (click)="handleAddNewMoment()">
            <ng-icon name="ionAddOutline"></ng-icon>
            Adicionar Momento
        </button>
    </form>
</div>