<app-auth-template 
    [config]="{
        title: 'Cadastre-se',
        message: 'Preencha as suas informações para realizar o cadastro.',
        submitBtnText: 'Cadastrar',
        actionText: 'Tem conta?',
        actionBtnText: 'Faça login!'
    }"
    (submitBtnEmitter)="handleNewUser()"
    (actionBtnEmitter)="handleBackToLogin()"
>

    <form class="d-flex flex-column w-100 gap-2" [formGroup]="form">

        <div class="form__row d-grid">
            <div class="input-group">
                <span class="input-label">Nome</span>
                <input type="text" class="input" placeholder="Seu nome" formControlName="firstName">
            </div>

            <div class="input-group">
                <span class="input-label">Sobrenome</span>
                <input class="input" type="text" placeholder="Seu sobrenome" formControlName="lastName">
            </div>
        </div>

        <div class="input-group">
            <span class="input-label">E-mail</span>
            <input class="input" type="text" placeholder="E-mail" formControlName="email">
        </div>          
        
        <div class="input-group">
            <span class="input-label">Senha</span>
            <input class="input" type="password" placeholder="Senha" formControlName="password">
        </div>

        <!-- <div class="form__group d-grid">
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="firstName">

                @if (form.controls['firstName'].hasError('required')) {
                    <mat-error>Nome obrigatório</mat-error>
                }

                @if (form.controls['firstName'].hasError('maxlength')) {
                    <mat-error>Nome não pode exceder dos 20 caracteres.</mat-error>
                }
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Sobrenome</mat-label>
                <input matInput type="text" formControlName="lastName">

                @if (form.controls['lastName'].hasError('required')) {
                    <mat-error>Sobrenome obrigatório</mat-error>
                }

                @if (form.controls['lastName'].hasError('maxlength')) {
                    <mat-error>Sobrenome não pode exceder dos 50 caracteres.</mat-error>
                }
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type="text" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="text" formControlName="password">
        </mat-form-field> -->
    </form>

</app-auth-template>

<!-- <h1>TESTE DOTENV: {{process.env.TESTE}}</h1> -->