<app-auth-template 
    [config]="{
        title: 'Cadastre-se',
        message: 'Preencha as suas informações para realizar o cadastro.',
        submitBtnText: 'Cadastrar',
        actionText: 'Tudo pronto?',
        actionBtnText: 'Fazer login!',
        showLoader: showLoader
    }"
    (submitBtnEmitter)="handleNewUser()"
    (actionBtnEmitter)="handleBackToLogin()"
>

    <form class="d-flex flex-column w-100 gap-2" [formGroup]="form">

        <div class="form__row d-grid">
            <div class="input-group">
                <span class="input-label">Nome</span>
                <input type="text" class="input" placeholder="Seu nome" formControlName="firstName">   

                @if (form.controls['firstName'].touched) {

                    @if (form.controls['firstName'].hasError('required')) {
                        <p class="input-error-msg">Nome obrigatório.</p>
                    }
                    @if (form.controls['firstName'].hasError('maxlength')) {
                        <p class="input-error-msg">Nome não pode exceder 20 caracteres.</p>
                    }
                }   
            </div>

            <div class="input-group">
                <span class="input-label">Sobrenome</span>
                <input class="input" type="text" placeholder="Seu sobrenome" formControlName="lastName">
                
                @if (form.controls['lastName'].touched) {

                    @if (form.controls['lastName'].hasError('required')) {
                        <p class="input-error-msg">Sobrenome obrigatório.</p>
                    }
                    @if (form.controls['lastName'].hasError('maxlength')) {
                        <p class="input-error-msg">Sobrenome não pode exceder 50 caracteres.</p>
                    }
                }   
            </div>
        </div>

        <div class="input-group">
            <span class="input-label">E-mail</span>
            <input class="input" type="text" placeholder="E-mail" formControlName="email">

            @if (form.controls['email'].touched) {

                @if (form.controls['email'].hasError('required')) {
                    <p class="input-error-msg">E-mail obrigatório.</p>
                }
                @if (form.controls['email'].hasError('email')) {
                    <p class="input-error-msg">E-mail inválido.</p>
                }
            }   
        </div>          
        
        <div class="input-group">
            <span class="input-label">Senha</span>
            <input class="input" type="password" placeholder="Senha" formControlName="password">

            @if (form.controls['password'].touched) {

                @if (form.controls['password'].hasError('required')) {
                    <p class="input-error-msg">Senha obrigatória.</p>
                }
                @if (form.controls['password'].hasError('maxlength')) {
                    <p class="input-error-msg">Senha não pode exceder 20 caracteres.</p>
                }
            }   
        </div>
    </form>

</app-auth-template>

<!-- <h1>TESTE DOTENV: {{process.env.TESTE}}</h1> -->