<div class="template d-grid">

    <div class="template-form d-flex flex-column items-center">

        <div class="template-form__header d-flex flex-column items-center">
            <div class="template-form__logo">
                <!-- <img src="" alt=""> -->
                <img src="assets/logo.png" alt="GDP Flow logo">
            </div>

            <div class="template-form__messages d-flex flex-column items-center">
                <h3>Bem-vindo de volta</h3>
                <span>Entre com seu e-mail e senha para logar.</span>
            </div>
        </div>

        <ng-content></ng-content>
    </div>

    <div class="template-banner">
        <!-- <img src="assets/banner-login.png" alt="Banner login"> -->
    </div>
</div>