<app-auth-template 
    [config]="{
        title: 'Entre no GDP Flow',
        message: 'Entre com seu e-mail e senha para logar.',
        submitBtnText: 'Log in',
        actionText: 'Não tem conta?',
        actionBtnText: 'Cadastre-se!',
        showLoader: showLoader
    }"
    (submitBtnEmitter)="handleLogin()"
    (actionBtnEmitter)="handleNavigateToSignUpPage()"
>

    <div class="login w-100 gap-2">

        <form class="d-flex flex-column w-100 gap-2" [formGroup]="form">
    
            <div class="input-group">
                <span class="input-label">E-mail</span>
                <input class="input" type="text" placeholder="exemplo@gmail.com" formControlName="email">

                @if (form.controls['email'].touched) {

                    @if (form.controls['email'].hasError('required')) {
                        <p class="input-error-msg">E-mail obrigatório.</p>
                    }
                    @if (form.controls['email'].hasError('email')) {
                        <p class="input-error-msg">E-mail inválido.</p>
                    }
                }                
            </div>
    
            <div class="input-group">
                <span class="input-label">Senha</span>
                <input class="input" type="password" placeholder="**********" formControlName="password">

                @if (form.controls['password'].hasError('required') && form.controls['password'].touched) {
                    <p class="input-error-msg">Senha obrigatório.</p>
                }

                @if (showErrors) {
                    <p class="input-error-msg">E-mail não cadastrado.</p>
                }
            </div>
    
        </form>
    </div>
</app-auth-template>