
<ul class="timeline-list">
    @for (card of timeLineData; track $index) {
        <li class="timeline-list__card" [ngClass]="{'timeline-list__card--single': timeLineData.length === 1}">
            <div class="timeline-list__count">
                {{$index + 1}}
            </div>
    
            <div class="timeline-list__content box">
                <app-header-card
                    title="Titulo da entrega"
                    subTitle="01/04/2024"
                ></app-header-card>
        
                <div class="timeline-list__description">
                    Descrição
                </div>
            </div>
        </li>
    }
</ul>