
<ul class="timeline-list">
    @for (card of timeLineMomentData; track $index) {
        <li class="timeline-list__card" [ngClass]="{'timeline-list__card--single': timeLineMomentData.length === 1}">
            <div class="timeline-list__count">
                {{$index + 1}}
            </div>
    
            <div class="timeline-list__content box">
                <app-header-card
                    [title]="card.title"
                    [subTitle]="card.data"
                    (editEmitter)="card.isEditing = !card.isEditing"
                ></app-header-card>
        
                <div class="timeline-list__description">
                    {{card.description}}
                </div>
            </div>
        </li>
    } @empty {
        <span class="timeline-list__empty">Nenhum momento registrado! <span class="timeline-list__empty--gray">Adicione um momento a sua linha do tempo.</span></span>
    }
</ul>