<div class="pdi-header">
    <app-router-header text="PDI"></app-router-header>
</div>

<form class="pdi-main" [formGroup]="form">

    <ul class="pdi-main__list box">

        @for (card of pdiCardData; track $index) {
            <li class="pdi-main__card box">
                <app-header-card 
                    [title]="card.title"
                    (editEmitter)="card.isEditing = !card.isEditing"
                    (salvarEmitter)="onPutPDI()"
                ></app-header-card>

                @if (card.isEditing) {
                    <textarea 
                        class="input"
                        rows="4"
                        [placeholder]="'Devo ' + card.title.toLowerCase() + '...'"
                        [formControlName]="card.formControlName"
                    >
                    </textarea>
                } @else {
                    {{form.controls[card.formControlName].value}}
                }
            </li>
        }

    </ul>

    <div class="pdi-main__grid-group">
        <div class="pdi-main__graph box">
            <img src="assets/grafico.png" alt="Grafico de PDI">
        </div>

        <div class="pdi-main__goal box">
            <app-header-card 
                title="Objetivo"
                (editEmitter)="isEditingGoal = !isEditingGoal"
                (salvarEmitter)="onPutPDI()"
            ></app-header-card>

            @if (!isEditingGoal) {
                <p>{{form.controls['goal'].value}}</p>
            } @else {
                <textarea
                    class="input"
                    type="text"
                    placeholder="Descreva o seu objetivo..."
                    formControlName="goal"
                ></textarea>
            }
        </div>
    </div>
</form>

