.app {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;

    &-sidebar {

    }

    &-content {
        display: grid;
        grid-template-rows: auto 1fr;

        &__header {
            
        }
    
        &__main {
            padding: 2.8rem 2.5rem; //Validar esse padding geral
            background-color: var(--background-color);
        }
    }
}