<div class="app" [ngStyle]="{'grid-template-columns': !routesWithLayout.includes(router.url) ? '1fr' : ''}">

    @if (routesWithLayout.includes(router.url)) {
        <div class="app-sidebar">
            <app-sidebar></app-sidebar>
        </div>
    }

    
    <div class="app-content" [ngStyle]="{'grid-template-rows': !routesWithLayout.includes(router.url) ? '1fr' : ''}">
        @if (routesWithLayout.includes(router.url)) {
            <div class="app-content__header">
                <app-header></app-header>
            </div>
        }

        <div class="app-content__main" [ngStyle]="{'padding': !routesWithLayout.includes(router.url) ? '0' : ''}">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>