<div class="app" [ngClass]="{'app--is-user-logged': routesWithLayout.includes(router.url)}">

    @if (routesWithLayout.includes(router.url)) {
        <div class="app-sidebar">
            <app-sidebar></app-sidebar>
        </div>
    }

    
    <div class="app-content">
        @if (routesWithLayout.includes(router.url)) {
            <div class="app-content__header">
                <app-header></app-header>
            </div>
        }

        <div class="app-content__main">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>